
  
   section:first-of-type {
    position:relative;
    height: 15em;
}


section:first-of-type img {
    position:absolute;
    margin: 0%;
    bottom: 0;
    
}

section:first-of-type img:nth-of-type(2) {
    position:absolute;
}   

section:nth-of-type(2){
   background-color: var(--color-background2);
   display: flex;
   flex-wrap: wrap;
   gap: 3em;
   justify-content: center;
}

section:nth-of-type(2) h2{
    display: none;
}

section:nth-of-type(2) article{
   background-color: var(--color-background1);
   margin-top: 4em;
   position:relative;
   width: 17em;
   height: 20em;
   box-shadow: .25em .25em .25em .25em var(--blokje-shadow-color);
   
   
   
}


section:nth-of-type(2) h3{
    color: var(--color-textred);
    text-transform: uppercase;
    font-size: large;
 }



section:nth-of-type(2) article p{
   width: 100%;
   padding: 2em;

}

section:nth-of-type(2) article button{
    color: var(--color-background1);
    background-color: var(--color-button);
    border: none;
    border-radius: .1em;
    padding: .5em 1.5em .5em 1.5em;
    font-size: larger;
   text-transform: uppercase;
 }



 section:nth-of-type(2) article img{
   position: absolute;
   top: -5em;
   left: .01em;

 }

 section:nth-of-type(2) button{
   border:none;
   background-color: var(--color-button);
   border-radius: .1em;
   color: var(--color-background1);
    padding: .75em 2em .75em 2em;
    font-size: larger;
    margin-bottom: 2em;
    text-transform: uppercase;
 }

 section:nth-of-type(3) p{
    color: var(--color-background1);

 }


 /* section:nth-of-type(4) article{
   position:relative
 }

 section:nth-of-type(4) article img:first-of-type{
   position: absolute;
 }

 section:nth-of-type(4) article img:nth-of-type(2){
   position: absolute;
 }

  */