/**************/
/* CSS REMEDY */
/**************/
*,
*::after,
*::before {
  box-sizing: border-box;
}

/*********************/
/* CUSTOM PROPERTIES */
/*********************/

@font-face {
	font-family: robotoRegular;
	src: url("../fonts/robotoRegular.woff2");
  }
  
:root {
  /* startje */
  --color-text: #111;
  --color-background1: #eee;
  --color-background: rgb(19, 39, 72);
 
}



img {
  max-width: 100%;
}

/****************/
/* JOUW STYLING */
/****************/

/* jouw code */

body {
  margin: 0;
  /* font-family: robotoRegular; */
  font-family: robotoRegular, sans-serif;
  background-color: var(--color-background);
}

header {
  background-color: var(--color-background);
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  /* right: 100%; */
  /* font-family: robotoRegular; */
}

header img {
  width: 6em;

}
header nav{
	flex-basis: 100%;
}
header ul li {

  min-height: 1.5em;
  padding: .75em;
  line-height: 1;
  margin-left: -1.75em;

}

header ul {
  background-color: var(--color-background1);
  margin: 0;
  list-style-type: none;
  
}

header a {
	text-decoration: none;
	color: var(--color-text);
	font-size: small;
  }

  header > button{
	padding: 1em 2em 1em 2em;

}


  header > button:last-of-type{
	border: none;
    background: none;
    width: 7em;
}


