/**************/
/* CSS REMEDY */
/**************/
*,
*::after,
*::before {
  box-sizing: border-box;
}

/*********************/
/* CUSTOM PROPERTIES */
/*********************/

@font-face {
  font-family: robotoRegular;
  src: url("../fonts/robotoRegular.woff2");
}

@font-face {
  font-family: latoRegular;
  src: url("../fonts/latoRegular.woff2");
}
:root {
  /* startje */
  --color-text: #111;
  --color-background1: rgb(255, 255, 255);
  --color-background: rgb(19, 39, 72);
  --color-background2: rgb(229, 216, 249);
  --color-textred: rgb(254, 71, 72);
  --color-button: rgb(1, 74, 127);
  --blokje-shadow-color: rgb(216, 206, 233);
  --color-footertext: rgb(110, 123, 131);
  --color-backgroundsection: rgb(6, 18, 26);
  --color-focus: rgb(144, 238, 144);
}

img {
  max-width: 100%;
}

/****************/
/* JOUW STYLING */
/****************/

/* jouw code */

body {
  margin: 0;
  /* font-family: robotoRegular; */
  font-family: robotoRegular, sans-serif;
  font-family: latoRegular, Arial;
  background-color: var(--color-background);
}

button:focus {
  box-shadow: 0 0 0 0.2em var(--color-focus);
  outline: none;
}

a:focus {
  box-shadow: 0 0 0 0.2em var(--color-focus);
  outline: none;
}

summary:focus {
  box-shadow: 0 0 0 0.2em var(--color-focus);
  outline: none;
}

header {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  /* position: relative; */
  position: fixed;
  background-color: var(--color-background);
  left: 0;
  right: 0;
  z-index: 1;

  /* right: 100%; */
  /* font-family: robotoRegular; */
}

header img {
  width: 7em;
  /* margin-left: 1em; */
  margin-right: auto;
}

header nav {
  translate: 0% -100%;
  transition: 0.3s;
  z-index: -1;
  position: absolute;
  left: 0;
  right: 0;
  padding-top: 5em;
  top: 0;
  background-color: var(--color-background);
}

nav.toonMenu {
  translate: 0%;
}

header ul li {
  min-height: 1.5em;
  padding: 0.75em;
  line-height: 1;
  /* margin-left: -1.75em; */
}

header ul {
  margin: 0;
  list-style-type: none;
}

header a {
  text-decoration: none;
  color: var(--color-background1);
  font-size: small;
}

header > button {
  padding: 1em 2.5em 1em 2.5em;
  border-radius: 0.3em;
  border: none;
}

header > button:last-of-type {
  background: none;
  width: 7em;
}

/* 
  summary{
    display: flex;
    justify-content: start ;
    
  } */

@media (min-width: 38em) {
  header button:nth-of-type(2) {
    position: absolute;
    left: -9999em;
    align-self: flex-start;
  }

  header > button {
    align-self: flex-start;
  }
  header {
    flex-wrap: nowrap;
  }

  header nav {
    translate: unset;
    padding: 0;
  }

  header nav ul {
    display: flex;
    gap: 1em;
    background: none;
    justify-content: center;
  }

  header a {
    color: var(--color-background1);
  }
  details ul {
    display: flex;
    flex-direction: column;
    background-color: var(--color-background1);
    width: 10em;
    gap: unset;
  }
  details ul li a {
    color: var(--color-text);
  }

  header img {
    align-self: flex-start;
    z-index: 1;
  }
}

footer {
  display: flex;
  gap: 3em;
  flex-wrap: wrap;
}

footer li {
  list-style-type: none;
  color: var(--color-footertext);
  line-height: 2em;
}

footer img {
  width: 2em;
}

footer a {
  text-decoration: none;
  color: var(--color-footertext);
}

footer nav:nth-of-type(2){
  display: flex;
}