.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

section:first-of-type {
  /* position: relative; */
  background-image: url("../img/Backgroundsection1.jpg");
  margin: 0;
  background-size: cover;
  height: 35em;
  background-position: center;
}

h1 {
  margin: 0;
}

section:first-of-type  {
  display: flex;
  justify-content: center;
  align-items: center;
}

section:first-of-type h1 img {
  /* position: absolute; */
  margin: 0;

  /* top: 0; */
  /* object-position: center center;
  height: 100%;
  object-fit: cover;  */
}

section:nth-of-type(2) {
  background-color: var(--color-background2);
  display: flex;
  flex-wrap: wrap;
  gap: 3em;
  justify-content: center;
}

section:nth-of-type(2) article {
  /* background-color: var(--color-background1); */

  background-image: radial-gradient(
      circle at left top,
      transparent 2em,
      white 0
    ),
    radial-gradient(circle at right top, transparent 2em, white 0),
    radial-gradient(circle at right bottom, transparent 2em, white 0),
    radial-gradient(circle at left bottom, transparent 2em, white 0);

  background-size: 50% 50%;
  background-repeat: no-repeat;
  background-position: left top, right top, right bottom, left bottom;
  margin-top: 4em;
  position: relative;
  width: 17em;
  height: 24em;
  filter: drop-shadow(0.5em 0.5em 0.25em var(--blokje-shadow-color));
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

section:nth-of-type(2) h3 {
  color: var(--color-textred);
  text-transform: uppercase;
  font-size: large;
  padding-top: 4em;
}

section:nth-of-type(2) article p {
  width: 100%;
  padding: 1.75em;
  text-align: center;
}

section:nth-of-type(2) article button {
  color: var(--color-background1);
  background-color: var(--color-button);
  border-radius: 0.3em;
  padding: 0.5em 1.5em 0.5em 1.5em;
  font-size: medium;
  text-transform: uppercase;
  border: none;
}

section:nth-of-type(2) article img {
  position: absolute;
  top: -5em;
  left: 0.01em;
}

section:nth-of-type(2) button {
  background-color: var(--color-button);
  border-radius: 0.3em;
  color: var(--color-background1);
  padding: 0.75em 2em 0.75em 2em;
  font-size: medium;
  margin-bottom: 2em;
  text-transform: uppercase;
  border: none;
}

section:nth-of-type(3) {
  display: flex;
  flex-wrap: wrap;
}

section:nth-of-type(3) > img {
  width: 35.5em;
  order: -10;
}

section:nth-of-type(3) article h2 {
  border-bottom: solid var(--color-background1);
 

}

section:nth-of-type(3) button {
  border-radius: 0.3em;
  color: var(--color-background);
  padding: 0.75em 2em 0.75em 2em;
  font-size: medium;
  text-transform: uppercase;
  margin-top: 3em;
  border: none;
}

section:nth-of-type(3) p:first-of-type {
  font-size: large;
  margin-bottom: 2em;
}

section:nth-of-type(3) article {
  padding: 2em 2em 2em 3em;
  width: 24em;
}




section:nth-of-type(3) p {
  color: var(--color-background1);

  font-size: small;
}

section:nth-of-type(4) {
  display: flex;
  flex-wrap: wrap;


}

section:nth-of-type(4) article {
  position: relative;
  display: flex;
  justify-content: center;
}



section:nth-of-type(4) article:nth-of-type(1) {
  background-image: url("../img/Background_left.jpg");
width: 35.5em;
background-size: cover;
 
}

section:nth-of-type(4) article:nth-of-type(2) {
  background-image: url("../img/Background_right-2.jpg");
  width: 35.5em;
  background-size: cover;
}

section:nth-of-type(4) button {
  background-color: var(--color-textred);
  border-radius: .2em;
  padding: 0.75em 2em 0.75em 2em;
  color: var(--color-background1);
  text-transform: uppercase;
  font-size: small;
  position: absolute;
  /* left: 15em; */
  bottom: 0;
  right: 50%;
  border: none;
 transform: translate(50%, -50%);
}

section:last-of-type {
  background-color: var(--color-backgroundsection);
  display: flex;
  flex-wrap: wrap;
}

section:last-of-type h2{
  border-bottom: solid var(--color-background1);
}
section:last-of-type > ul{
  display: flex;
  flex-wrap: nowrap;
	overflow:auto;
	scroll-snap-type:x mandatory;
	overscroll-behavior-x:contain;
	scroll-behavior:smooth;
  order: -10;
  width: 33em;
 margin: 2em 2em 2em 2em;
}
section:last-of-type p{
 color: var(--color-background1);


}

section:last-of-type article{
   width: 20em;
   padding: 2em 2em 2em;
 
 }
section:last-of-type ul li {
  list-style-type: none;
  scroll-snap-align:center;
	flex-shrink:0;
	width:18em;
 
}






