/**************/
/* CSS REMEDY */
/**************/
*,
*::after,
*::before {
  box-sizing: border-box;
}

/*********************/
/* CUSTOM PROPERTIES */
/*********************/

@font-face {
  font-family: robotoRegular;
  src: url("../fonts/robotoRegular.woff2");
}

@font-face {
  font-family: openSansCondensedLight;
  src: url("../fonts/openSansCondensedLight.woff2");
}

@font-face {
  font-family: robotoMedium;
  src: url("../fonts/robotoMedium.woff2");
}

@font-face {
  font-family: latoRegular;
  src: url("../fonts/latoRegular.woff2");
}

   /* :root {
   

  --color-text:  #111;
  --color-background1:rgb(255, 255, 255);
  --color-background:rgb(19, 39, 72);
  --color-background2:rgb(229, 216, 249);
  --color-textred:rgb(254, 71, 72);
  --color-button:rgb(1, 74, 127);
  --blokje-shadow-color:rgb(216, 206, 233);
  --color-footertext:rgb(110, 123, 131);
  --color-backgroundsection:rgb(6, 18, 26);
  --color-focus:rgb(144, 238, 144);
  --color-footerbutton:rgb(108, 117, 125);
  --color-buttonsecondpage: rgb(2, 170, 250);
  --color-backgroundsecond:rgb(243, 236, 252);
}     */
  
  :root {
  color-scheme: light dark; 

  --color-text: light-dark( #ffffff, #111);
  --color-background1: light-dark(#111, #ffffff);
  --color-background: light-dark(#ecd8b7, #132748);
  --color-background2: light-dark(#1a2706, #e5d8f9);
  --color-textred: light-dark(#01b8b7, #fe4748);
  --color-button: light-dark(#feb580, #014a7f);
  --blokje-shadow-color: light-dark(#273116, #d8cee9);
  --color-footertext: light-dark(#91847c,  #6e7b83);
  --color-backgroundsection: light-dark(#f9ede5, #06121a);
  --color-focus: light-dark(#6f116f, #90ee90);
  --color-footerbutton: light-dark(#938a82, #6c757d);
  --color-buttonsecondpage: light-dark(#fd5505, #02aafa);
  --color-backgroundsecond: light-dark(#0c1303, #f3ecfc);
}  
  

:root:has([value="light"]:checked) {
	color-scheme:light;
}

:root:has([value="dark"]:checked) {
	color-scheme:dark;
}   

/* 
 @media (prefers-color-scheme: light) {
	:root {
		color-scheme: light;

		--color-text: #fff;
		--color-background1: rgb(0, 0, 0);
		--color-background: rgb(236, 216, 183);
		--color-background2: rgb(26, 39, 6);
		--color-textred: rgb(1, 184, 183);
		--color-button: rgb(254, 181, 128);
		--blokje-shadow-color: rgb(39, 49, 22);
		--color-footertext: rgb(145, 132, 124);
		--color-backgroundsection: rgb(249, 237, 229);
		--color-focus: rgb(111, 17, 111);
		--color-footerbutton: rgb(147, 138, 130);
	}
}  */


img {
  max-width: 100%;
}

/****************/
/* JOUW STYLING */
/****************/

/* jouw code */

body {
  margin: 0;
  /* font-family: robotoRegular; */
  /* font-family: robotoRegular, sans-serif;
  font-family: latoRegular, sans-serif;
  font-family: openSansCondensedLight, sans-serif;
  font-family: robotoMedium, Arial; */
  background-color: var(--color-background);
  font-family: latoRegular, sans-serif;
  

}

em {
  text-transform: uppercase;
  font-style: normal;
  
}

button{
  font-family: openSansCondensedLight;
  border-radius: 0.1em;
  font-size: large;
  text-transform: uppercase;
  border: none;
}

button:hover {
  transform: scale(1.1);
}

button:focus {
  box-shadow: 0 0 0 0.2em var(--color-focus);
  outline: none;
}

a:focus {
  box-shadow: 0 0 0 0.2em var(--color-focus);
  outline: none;
}

summary:focus {
  box-shadow: 0 0 0 0.2em var(--color-focus);
  outline: none;
}

section:last-of-type > ul:focus {
  box-shadow: 0 0 0 0.2em var(--color-focus);
  outline: none;
}

header {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  /* position: relative; */
  position: fixed;
  background-color: var(--color-background);
  left: 0;
  right: 0;
  z-index: 1;
  top: 0;

  /* right: 100%; */
  /* font-family: robotoRegular; */
}

header img {
  width: 7em;
  /* margin-left: 1em; */
  margin-right: auto;
}

header nav {
  translate: 0% -100%;
  transition: 0.3s;
  z-index: -1;
  position: absolute;
  left: 0;
  right: 0;
  padding-top: 5em;
  top: 0;
  background-color: var(--color-background);
}

nav.toonMenu {
  translate: 0%;
}

header ul li {
  min-height: 1.5em;
  padding: 0.75em;
  line-height: 1;
  /* margin-left: -1.75em; */
}

header ul {
  margin: 0;
  list-style-type: none;
}

header a {
  text-decoration: none;
  color: var(--color-background1);
  font-size: small;
}

header > button {
  padding: .5em 1.5em .5em 1.5em;
  background-color: var(--color-background1);
  color: var(--color-text);

}

header > button:last-of-type {
  background: none;
  width: 5em;
}

/* 
  summary{
    display: flex;
    justify-content: start ;
    
  } */

@media (min-width: 38em) {
  header button:nth-of-type(2) {
    position: absolute;
    left: -9999em;
    align-self: flex-start;
  }

  header nav {
    translate: unset;
    padding: 0;
  }

  header nav ul {
    display: flex;
    gap: 0.1em;
    background: none;
    justify-content: center;
  }

  details ul {
    display: flex;
    flex-direction: column;
    width: 10em;
  }

  header img {
    align-self: flex-start;
  }
}

footer {
  display: flex;
  gap: 3em;
  flex-wrap: wrap;
  background-color: var(--color-background);
}

footer li {
  list-style-type: none;
  color: var(--color-footertext);
  line-height: 2em;
}

footer img {
  width: 2em;
}

footer a {
  text-decoration: none;
  color: var(--color-footertext);
}

footer nav:nth-of-type(2) {
  display: flex;
}

footer button {
  padding: .5em 1.5em .5em 1.5em;

  color: var(--color-background1);
  font-weight: bolder;
  background-color: var(--color-footerbutton);
}
/* 
label{
  margin: 2em;
} */